.gallery-wrapper {
    margin: 5%;
    margin-top: 8%
}

.gallery {
    display: flex;
    flex-wrap: wrap;
}

.gallery__item {
    flex: 25%;
    max-width: 25%;

    a {
        display: block;
        padding: 10px;
    }

    img {
        width: 100%;
        display: block;
    }
}

@media (max-width: 979px) {
    .gallery__item {
        flex: 25%;
        max-width: 25%;
    }
}

@media (max-width: 768px) {
    .gallery__item {
        flex: 50%;
        max-width: 50%;
    }
}

@media (max-width: 480px) {
    .gallery__item {
        flex: 100%;
        max-width: 100%;
    }
}