.gallery-wrapper {
    margin: 5%;
    margin-top: 8%
}

.gallery {
    display: flex
}

.gallery__item {
    flex: 25%;
    max-width: 25%;
    padding: 10px;

    a {
        display: block;
        margin-bottom: 20px;
    }

    img {
        width: 100%;
        display: block;
    }

    &:last-child {
        padding-right: 0;
    }
}