@font-face {
    font-family: gotham;
    src: url('./fonts/gotham/Gotham-Book.otf');
}

@font-face {
    font-family: gothamBold;
    src: url('./fonts/gotham/Gotham\ Bold.otf');
}

$grayColor: #ededed;
$redColor: #f01e28;